.homepage {
  .homepage-title {
    margin: 140px auto 40px;

    img {
      max-width: 575px;
      width: 100%;
    }

    small {
      font-weight: lighter;
      color: $gray-dark;
      text-transform: uppercase;

      strong {
        font-weight: 900;
      }
    }
  }

  .usp {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section-title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .marquee {
    margin-bottom: 80px;
  }

  .devices {
    position: relative;
    top: 50px;
    width: 100%;
    max-width: 700px;
  }

  .about-us {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 0;

    .section-title {
      color: #fff;
    }

    p {
      color: #fff;
      text-shadow: 0 0 10px #000, 0 0 10px #000;
      font-weight: 300;
    }
  }
}
