<footer class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center">
      <ul class="social-links list-inline">
        <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
      <p>
        <a href="">Terms &amp; Conditions</a> | 
        <a href="">Privacy Policy</a>
      </p>
      <address>
        Elevate Capital Ltd, 
        WeWork Waterhouse Square, 
        3 Waterhouse Square,
        London EC1N 2SW
      </address>
      <p>Tel: +44 20 7129 7073</p>
    </div>
  </div>
</footer>
