.quote-carousel {

  > .row,
  > .row > .col-xs-12,
  > .row > .col-xs-12 > .carousel {
    height: 100%;
  }

  .carousel {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  blockquote {
    color: #fff;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    padding: 20px 40px;
    text-shadow: 0 0 10px #000, 0 10px 20px #000;
    margin: 0 20%;
    border: none;
  }
  @media only screen and (max-width: $screen-sm) {
    blockquote {
      font-size: 20px;
    }
  }
}
