footer {
  background-color: $gray-lighter;
  padding: 40px 0;
  color: $gray;
  font-weight: 300;

  a {
    color: $gray;   
  }
  

  .social-links {
    margin-bottom: 20px;

    a {
      font-size: 32px;
      margin: 0 15px;
    }
  } 
}
