footer {
  background-color: $gray-lighter;
  color: $gray;
  font-weight: 300;
  display: table-row;
  height: 1%; //sticky-footer-hack

  .row {
    padding: 40px 0;
  }

  a {
    color: $gray;   
  }
  

  .social-links {
    margin-bottom: 20px;

    a {
      font-size: 32px;
      margin: 0 15px;
    }
  } 
}
