html {
  height: 100%;
}

body {
  height: 100%;
}

body > div.wrapper {
  width: 100%;
  min-height: 100%;
  display: table;
}

img.fluid-width {
  width: 100%;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

section.container,
section.container-fluid {
  margin-bottom: 40px;
}

.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}
